<nav class="nav nav-masthead justify-content-center float-md-end bg-dark">
  <div class="link-container">
    <a class="nav-link text-light" routerLink='/' routerLinkActive='active'>Home</a>
    <a class="nav-link text-light" routerLink='/filtered/music' routerLinkActive='active'>Music</a>
    <a class="nav-link text-light" routerLink='/filtered/books' routerLinkActive='active'>Books</a>
    <a class="nav-link text-light" routerLink='/filtered/movies' routerLinkActive='active'>Movies</a>
    <a class="nav-link text-light" routerLink='/about' routerLinkActive='active'>About</a>
  </div>
  <div class="search-container">
    <input class="search-bar form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" type="text" placeholder="Search posts...">
  </div>
</nav>
