<nav class="nav nav-masthead justify-content-center float-md-end bg-dark">
  <div class="link-container">
    <a class="nav-link text-light" href="#">Home</a>
    <a class="nav-link text-light" href="#">Music</a>
    <a class="nav-link text-light" href="#">Books</a>
    <a class="nav-link text-light" href="#">Movies</a>
    <a class="nav-link text-light" href="#">About</a>
  </div>
  <div class="search-container">
    <input class="search-bar form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" type="text" placeholder="Search posts...">
  </div>
</nav>
